# Data processing
pandas==2.2.2
numpy==2.0.2
scikit-learn==1.3.2
requests==2.32.4

# NLP & Transformers
torch==2.1.0+cu121
torchvision==0.16.1+cu121
torchtext==0.17.1
transformers==4.46.0
evaluate==0.4.6

# Text preprocessing
nltk==3.9.1
spacy==3.7.4

# Visualization
matplotlib==3.8.1
seaborn==0.12.2

# Progress bars
tqdm==4.67.1

# Optional: for downloading large datasets
urllib3==2.5.0